<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="main-container">
    {{>header}}
        <article class="widget">
            <form class="weatherLocation"><input type="text" placeholder="Enter Location"/>
            <button>Search</button></form>
            <div class="weatherIcon"><i class="wi wi-day-fog"></i></div>
            <div class="weatherInfo">
                <div class="temperature"><span></span></div>
                <div class="description">
                    <div class="weatherCondition">Enter Location</div>
                    <div class="place"></div>
                </div>
            </div>
            <div class="date">1st Jan</div>
        </article>
    </div>
    <script src="js/script.js"></script>
</body>

</html>